<!doctype html>
<html>
<header><title>web page about birds</title></header>
<body>
<h1>birds</h1>
<h3>contents</h3>
<ul>
<li><a href="#crow">crow</a></li>
<li><a href="#duck">duck</a></li>
<li><a href="#chicken">chicken</a></li>
</ul>
<br>
<br>
<br>

<h3>table of details</h3>
<br>
<table>

<tr>
<th>bird</th>
<th>scientific name</th>
<th>family</th>
<th>no of legs </th>
</tr>
<tr>
<th>crow</th>
<th>corvus splendens</th>
<th>crow</th>
<th>2</th>
</tr>
<tr>
<th>duck</th>
<th>anas platyrhyos</th>
<th>anatidae</th>
<th>2</th>
</tr>
<tr>
<th>chicken</th>
<th>gallus domesticus</th>
<th>phasianidae</th>
<th>2</th>
</tr>
</table>



<br>
<p>source : wikipedia</p>
<br>
<br>
<br>
<br>

<h2><u><a name="crow"></a> crow</u></h2>
<p><img src="{{crow_image}}" alt="crow image"><br>
source :google images
<br>
<br>
The Indian jungle crow (Corvus culminatus) is a species of crow found across the Indian Subcontinent south 
of the Himalayas. It is very common and readily distinguished from the house crow (Corvus splendens), which 
has a grey neck. In the past the species was treated as a subspecies of another crow species, but vocalizations 
and evidence from ectoparasite co-evolution and phylogenetic evidence have led to it being considered as a 
distinct species in modern taxonomic treatments. It differs in its voice from the large-billed crow (Corvus macrorhynchos)
 found in the higher elevations of the Himalayas and the eastern jungle crow (Corvus levaillantii) overlaps in the eastern 
 part of its range. In appearance, it can be difficult to distinguish from either of these species although the plumage 
 tends to be more uniformly glossed in purple and has a longer bill with a fine tip and a less arched culmen. 
 The Himalayan species has a slightly wedge-shaped tail, unlike the rounded tail of the Indian jungle crow and t
 ends to glide a lot .
</p>
<h2><u><a name="duck"></a> duck</u></h2>
<p><img src="{{duck_image}}" alt="duck image"><br>
source :google images
<br>
<br>
Duck is the common name for numerous species of waterfowl in the family Anatidae. Ducks are generally smaller and 
shorter-necked than swans and geese, which are members of the same family. Divided among several subfamilies, 
they are a form taxon; they do not represent a monophyletic group (the group of all descendants of a single common 
ancestral species), since swans and geese are not considered ducks. Ducks are mostly aquatic birds, and may be 
found in both fresh water and sea water.

Ducks are sometimes confused with several types of unrelated water birds with similar forms, such as loons or 
divers, grebes, gallinules and coots.
</p>
<h2><u><a name="chicken"></a> chicken</u></h2>
<p><img src="{{chicken_image}}" alt="chicken image"><br>
source :google images
<br>
<br>
The chicken (Gallus gallus domesticus) is a domesticated junglefowl species, with attributes of wild species 
such as the grey and the Ceylon junglefowl[1] that are originally from Southeastern Asia. Rooster or cock is 
a term for an adult male bird, and a younger male may be called a cockerel. A male that has been castrated is 
a capon. An adult female bird is called a hen and a sexually immature female is called a pullet.

Originally raised for cockfighting or for special ceremonies, chickens were not kept for food until the Hellenistic
 period (4th–2nd centuries BC).[2][3] Humans now keep chickens primarily as a source of food (consuming both their
 meat and eggs) and as pets.

Chickens are one of the most common and widespread domestic animals, with a total population of 23.7 billion as of 
2018,[4] up from more than 19 billion in 2011.[5] There are more chickens in the world than any other bird.[5] There 
are numerous cultural references to chickens – in myth, folklore and religion, and in language and literature.

Genetic studies have pointed to multiple maternal origins in South Asia, Southeast Asia, and East Asia,[6] but the 
clade found in the Americas, Europe, the Middle East and Africa originated from the Indian subcontinent. From ancient 
India, the chicken spread to Lydia in western Asia Minor, and to Greece by the 5th century BC.[7] Fowl have been known 
in Egypt since the mid-15th century BC, with the "bird that gives birth every day" having come from the land between S
yria and Shinar, Babylonia, according to the annals of Thutmose III.
</p>

</body>
<html>
